--hahaha tsy itany-----

.admin-back-button a{
    text-decoration: none;
    color: #D7DBDD;
}

.errorBackAdmin p{
    color: red;
    font-weight: bold;

}

.successBackAdmin p{
    color: #229954;
    font-weight: bold;
}
input{
    border-radius: 5px;
    padding: 5px;;
}
select{
    border-radius: 5px;
    padding: 5px;;
}
textarea{
    border-radius: 5px;
    padding: 5px;;
}
.submit{
    width: 100px;
    border-radius: 5px;
    background: #0D891A;
    font-weight: bold;
    color: white;
}
.admin-back-button{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    background: #17202A;
    display: block;
    margin: 10px 10px;
}
